nextflow.enable.dsl = 2

params.outputDir = "$projectDir/build"
params.colDelimiterIn = "\\;"
params.colNumberConcentration = 6
params.colNumberMeasurements = 7
params.graphPrecision = 10000
params.concUnit = "[fmol/µl]"
params.minNumberReplications = 3
params.cvThreshold = 20
params.perBiasThres = 20
params.weightingMethod = "1/x^2"
params.centralTendencyMeasure = "mean"

params.calcContinuousPrelimRanges = "TRUE"
params.considerPerBiasCV = "TRUE"
params.perBiasDistThres = 10
params.finalRangeCalculationMethod = "weighted_linear_model"
params.plotOptReg = "combined"
params.scaling = "log"
params.magnificAxis = 1
params.magnificLabels = 1
params.magnificTitle = 1
params.magnificEquation = 1
params.plotResolution = 300
params.plotHeight = 10
params.plotWidth = 10
params.titleOpening = "Calibration graph for "
params.titleMiddlePart = "Linear range extends from "
params.xLab = "Log concentration [fmol/µl]"
params.yLab = "Log area heavy"
params.showLegend = "TRUE"

params.yLimAdaptRF = "FALSE"
params.minY_lim = 100000
params.maxY_lim = 150000
params.restrictRfToFinalRange = "FALSE"
params.scalingRFX = "log"
params.magnificAxisRF = 1
params.magnificLabelsRF = 1
params.magnificTitleRF = 1
params.plotResolutionRF = 300
params.plotHeightRF = 10
params.plotWidthRF = 10
params.titleOpeningRF = "Response factor plot for "
params.xLabRF = "Log concentration [fmol/µl]"
params.yLabRF = "Response factor"
params.showLegendRF = "TRUE"

env {
    MPC_CC_COL_DELIMITER_IN = params.colDelimiterIn
    MPC_CC_COL_NUMBER_CONCENTRATION = params.colNumberConcentration
    MPC_CC_COL_NUMBER_MEASUREMENTS = params.colNumberMeasurements
    MPC_CC_GRAPH_PRECISION = params.graphPrecision
    MPC_CC_CONC_UNIT = params.concUnit
    MPC_CC_MIN_NUMBER_REPLICATIONS = params.minNumberReplications
    MPC_CC_CV_THRESHOLD = params.cvThreshold
    MPC_CC_PER_BIAS_THRESHOLD = params.perBiasThres
    MPC_CC_WEIGHTING_METHOD = params.weightingMethod
    MPC_CC_CENTRAL_TENDENCY_MEASURE = params.centralTendencyMeasure
    MPC_CC_CALC_CONTINUOUS_PRELIM_RANGES = params.calcContinuousPrelimRanges
    MPC_CC_CONSIDER_PER_BIAS_CV = params.considerPerBiasCV
    MPC_CC_PER_BIAS_DIST_THRESHOLD = params.perBiasDistThres
    MPC_CC_FINAL_RANGE_CALCULATION_METHOD = params.finalRangeCalculationMethod
    MPC_CC_PLOT_OPT_REG = params.plotOptReg
    MPC_CC_SCALING = params.scaling
    MPC_CC_MAGNIFIC_AXIS = params.magnificAxis
    MPC_CC_MAGNIFIC_LABELS = params.magnificLabels
    MPC_CC_MAGNIFIC_TITLE = params.magnificTitle
    MPC_CC_MAGNIFIC_EQUATION = params.magnificEquation
    MPC_CC_PLOT_RESOLUTION = params.plotResolution
    MPC_CC_PLOT_HEIGHT = params.plotHeight
    MPC_CC_PLOT_WIDTH = params.plotWidth
    MPC_CC_TITLE_OPENING = params.titleOpening
    MPC_CC_TITLE_MIDDLE_PART = params.titleMiddlePart
    MPC_CC_XLAB = params.xLab
    MPC_CC_YLAB = params.yLab
    MPC_CC_SHOW_LEGEND = params.showLegend
    MPC_CC_YLIM_ADAPT_RF = params.yLimAdaptRF
    MPC_CC_MINY_LIM = params.minY_lim
    MPC_CC_MAXY_LIM = params.maxY_lim
    MPC_CC_RESTRICT_RF_TO_FINAL_RANGE = params.restrictRfToFinalRange
    MPC_CC_SCALING_RFX = params.scalingRFX
    MPC_CC_MAGNIFIC_AXIS_RF = params.magnificAxisRF
    MPC_CC_MAGNIFIC_LABELS_RF = params.magnificLabelsRF
    MPC_CC_MAGNIFIC_TITLE_RF = params.magnificTitleRF
    MPC_CC_PLOT_RESOLUTION_RF = params.plotResolutionRF
    MPC_CC_PLOT_HEIGHT_RF = params.plotHeightRF
    MPC_CC_PLOT_WIDTH_RF = params.plotWidthRF
    MPC_CC_TITLE_OPENING_RF = params.titleOpeningRF
    MPC_CC_SHOW_LEGEND_RF = params.showLegendRF
    MPC_CC_XLAB_RF = params.xLabRF
    MPC_CC_YLAB_RF = params.yLabRF
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true
  }
}
